body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border: 1px solid grey;
  margin: 20px;
}

th {
  border-bottom: 1px solid grey;
}

td {
  padding: 10px;
}

.waste {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.plastic {
  background-color: orange;
}

.paper {
  background-color: blue;
}

.food {
  background-color: green;
}

.info {
  display: flex;
  align-items: center;
  margin: 20px;
}